body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.x-banner {
    height: 600px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.x-banner {
    height: 300px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.x-banner img {
    margin-left: -200px;
    width: 650px;
    margin-top: 10px;
}

@media (min-width: 480px) {
    .x-banner {
        height: 400px;
    }
    .x-banner img {
        margin-left: -250px;
        width: 925px;
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .x-banner {
        height: 500px;
    }
    .x-banner img {
        margin-left: -100px;
        width: 1200px;
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .x-banner {
        height: 600px;
    }
    .x-banner img {
        margin-left: -50px;
        width: 1600px;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .x-banner img {
        margin-left: 0px;
        width: 1920px;
    }
}

@media (min-width: 1700px) {
    .x-banner img {
        width: 100%;
        margin-left: auto;
    }
}

.navbar-inverse {
    background-color: #0A60AE;
    border: 0 none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #023A69;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #023A69;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

@media (max-width: 990px) {
    .nav > li > a {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

@media (max-width: 890px) {
    .nav > li > a {
        padding-left: 9px !important;
        padding-right: 9px !important;
    }
}

@media (max-width: 820px) {
    .nav > li > a {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
}

.conditional-container {
    width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1170px) {
    .conditional-container {
        width: 100%;
    }
}

form#contact_us .form-group label {
    display: none !important;
}

ul#contact_details {
    margin-top: 20px;
    padding-left: 20px !important;
}
ul#contact_details li {
    list-style: none;
    margin-top: 5px;
}
ul#contact_details li span {
    margin-right: 10px;
}